<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>{{ title }}</title>

  <!-- Bootstrap Style Link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='/css/style.css') }}" rel="stylesheet">

</head>
<body class="d-flex flex-column min-vh-100">

  <!-- NAVIGATION -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
    <div class="container">
      {% if current_user.is_authenticated %}
      <span class="fs-4 mb-3 mb-md-0 text-light">Welcome!</span>
      {% else %}
      <span></span>
      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse text-bg-dark" id="navbarResponsive">
        <ul class="navbar-nav justify-content-end flex-grow-1">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-dark dropdown-toggle fs-5 fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                My Lists
              </button>
              <ul class="dropdown-menu gap-1 p-0 p-md-2 rounded-3 mx-0 shadow w-220px" data-bs-theme="light">
                <!-- agregar un for aquí -->
                {% for each_list in user_lists %}
                <li><a class="dropdown-item rounded-2" href="{{ url_for('current_list', list_url=each_list.url) }}">{{ each_list.name }}</a></li>
                {% endfor %}
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item rounded-2" href="{{ url_for('new_list') }}">+New List</a></li>
              </ul>
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <button class="btn btn-dark fs-5 fw-bold" data-bs-toggle="modal" data-bs-target="#loginModalToggle">My Lists</button>
          </li>
          {% endif %}

          <li class="nav-item">
            <a class="btn btn-dark fs-5 fw-bold" aria-current="page" href="{{ url_for('new_list') }}">+New List</a>
          </li>

          {% if not current_user.is_authenticated %}
          <li class="nav-item">
            <button class="btn btn-dark fs-5 fw-bold" data-bs-toggle="modal" data-bs-target="#loginModalToggle">Login</button>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="btn btn-dark fs-5 fw-bold" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>

    </div>
  </nav>

{% include "login_user.html" %}
{% include "register_user.html" %}
